

@font-face{
	font-family: 'Rubik Black';
	src: local('Rubik Black'),url('fonts/Rubik Black.ttf');
}

*{
	max-width: 100vw;
	/*max-height: 100vh;*/
	z-index: 2;
	margin: 0;
    padding: 0;	
}
body {
	background-color: rgba(0, 0, 0, 0.5);
}
.dropbase{
	height: 100vh;
	display: inline;
	position: sticky;
	z-index: 1;
}
.drop1 img{
	height:80px;
	z-index: 2;
}
.drop2 img{
	height:80px;
	z-index: 2;
}
.drop3 img{
	height:80px;
	z-index: 2;
}
.drop4 img{
	height:80px;
	z-index: 2;
}
.drop5 img{
	height:80px;
	z-index: 2;
}
@keyframes move1 {
	from {
		margin-top: -30vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move2 {
	from {
		margin-top: -20vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move3 {
	from {
		margin-top: -23vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move4 {
	from {
		margin-top: -22vh;
	}
	to {
		margin-top: 110vh;
	}
}
@keyframes move5 {
	from {
		margin-top: -20vh;
	}
	to {
		margin-top: 110vh;
	}
}

.drop1 {
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 12.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -20px;
	left: 5vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 14.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 20vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 11.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 17s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 60vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 15s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 80vw;
}
.head{
	
	background-color: #47A6C9;
    display: block;
    height: 10vh;
	width: 100vw;
	/*padding: 3.3rem;*/
	position: relative;
	left: 0;
	top: 0;
	z-index:2;
	background-image: url("img/head.jpg");
	
	
	/*transform: translate(-10%, -10%);*/
}
.head p{
	
	z-index:2;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 7vw;
	top: 15px;
	left: 2%;
	
}
.foot{
	display: flex;
	position: relative;
	height: 10vh;
	width: 100vw;
	
	background-image: url("img/head.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 10vh;
	white-space: nowrap;
	
	padding: 0px 10px 1vh 1vw;
	bottom:0px;
	z-index:3;
	
	/*
	border: 3px solid white;
	justify-content: center;
	background: none;
	align-items: center;
	left: 23vw;
	*/
	
}
.foot p {
	z-index:1;
	display: flex;
	position: absolute;
	/*font-family: 'Panton Rust';
	justify-content: center;
	text-align: center;
	left: 0vw;
	height: 10vh;
	width: 50vw;
	bottom: -3vh;	
	border: 3px solid blue;
	*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 3.5vh;
	margin: 4vw 0px 0px 17vw;
	white-space: nowrap;
	
	
	
}
.number{
	display: flex;
    position: relative;

	background: none;
    white-space: nowrap;
	
	
	bottom:0px;
	z-index:3;
	margin: 0px 0px 0px 0vw;
	/*
	justify-content: center;
	background-image: url("img/head.jpg");
	align-items: center;
	left: 23vw;
	border: 3px solid brown;

	*/
	
}		
.number a{
	
	width:90%;
	height: 90%;
	z-index: 2;
	display: flex;
	position: static;
	margin: 2% 0px 0px 2vw;
	white-space: nowrap;
	text-decoration: none;
	/*border: 3px solid green;*/
}
.number img{
	z-index: 1;
	display:inline;
	position: relative;
	
	bottom: 0px;
	
    /*border: 3px solid red;
	position: relative;
	border: 3px solid grey;
	*/
	
}
.whatsapp{
	
	display: inline;
    position: absolute;
	
	background: none;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	bottom:0px;
	z-index:2;
	margin: 0px 0px 10px 63%;
	/*
	border: 3px solid yellow;
	background-image: url("img/head.jpg");
	
	left: 23vw;
	*/
	
}	
.whatsapp a{
	width:90px;
	height: 90px;
	z-index: 2;
	display: flex;
	position: static;
	white-space: nowrap;
	text-decoration: none;
	margin: 0% 0px 0px 0%;
	
	/*border: 3px solid black;
	background-size: cover;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 0vw;
	bottom: 0px;
	margin: 0px 0px 0px 1vw;
	max-width: 598px;
	max-height: 138px;
	border: 3px solid black;
	*/
	
	
}



.whatsapp img{
	
	z-index: 1;
	display: inline;
	position: relative;
	
	/*
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 85px;
	border: 3px solid red;
	*/
	
}

.container{
	
	
	/*top: 120px;*/
	left: 0;
	z-index:2;	
}
.card1{
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/1.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	border-radius: 30px;
}
.card2 {
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/1_1.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	border-radius: 30px;
}
.card3 {
	display: flex; 
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/3.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	border-radius: 20px;
}
.card4 {
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:2;
	background: url("img/4.jpg");
	background-repeat: no-repeat;
	 background-size: 100vw 100vh;
	width: 100vw;
	height: 100vh;
	border-radius: 20px;
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:2;
	
	white-space: nowrap;
	overflow: hidden;
	
	
	
}
.card2-content{
	display: inline-block;
	position: relative;
	z-index:2;
	
	white-space: nowrap;
	overflow: hidden;
	
	
	
}
.slide1{
	z-index:1;
	display: inline-block;
	position: sticky;
	animation: slide1 30s linear infinite;
	
}


.slide1 img{
	/*background: yellow;*/
	margin:50% 5px;
	display: inline-block;
	border-radius: 10px;
	width: 60vw;
	height: auto;
	z-index: 3;
	
	
	object-fit: cover;
	/*object-fit: contain;
	border: 1px solid #88E1F0;
	*/
}


@keyframes slide1 {
	from { 
	transform: translateX(100vw);
	}
	to{
		transform: translateX(-600vw);
		}
}


.card1-content p{
	
	z-index :3;
	
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 8%;
	top: 5vh;
	width: 80vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 3px #EBEDA9;
}
.card2-content p {
	
	z-index:1;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	
	width: 98vw;
	
	left: 12%;
	top: 5.5vh;
	width: 80vw;
	font-size: 5vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  2px 3px 3px #EBEDA9;
	
}
.card2-content ul {
	
	z-index:1;
	font-family: 'Rubik Black';
	font-weight: bold;
	line-height: 1.5;
	
	left: 14vw;
	top: 14vh;
	width: 80vw;
	font-size: 3.3vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 3px #EBEDA9;
	
	
}
.card3-content p {
	
	z-index:2;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	
	width: 98vw;
	
	left: 12%;
	top: 5.5vh;
	width: 80vw;
	font-size: 4vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  2px 3px 23px #EBEDA9;
	
}
.card3-content ul {
	
	z-index:2;
	font-family: 'Rubik Black';
	font-weight: bold;
	line-height: 1.5;
	
	left: 12vw;
	top: 14vh;
	width: 80vw;
	font-size: 2.1vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 23px #EBEDA9;
	
	
}
.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	width: 100vw;
	
	left: 5vw;
	top: 8vh;
	width: 90vw;
	font-size: 3vh;
	position: absolute;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 25px #EBEDA9;
	
}
/*--------------------------------------------------------*/
@media (min-width: 1081px){
	*{
	
	/*max-height: 100vh;*/
   /*overflow: none;*/
	
}
body{
	z-index: 3;
	width: 100vw;
	height: 100vh;	
background-image: url("img/dtbg.png");	
background-repeat: no-repeat;
background-size:100vw 100vh;
/*border: 3px solid green;*/
padding: 50% auto;	
}	
	
	.container{
	display: flex;
	position: relative;
	margin: 50px 100px;
	padding-top: 4vw;
	/*top: 120px;*/
	left: 0vw;
	z-index:2;	
	
	
	overflow-y: hidden;
	overflow-x: hidden;
}

	.head{
	left: 50%;
	width: 0px;
	/*background-color: transparent;*/
    height: 6vh;
	display: flex;
    position:relative;
	justify-content: center;
	z-index:3;
	/*background-image: url("img/head.jpg");
	background-size:auto;
	background-position: center;*/
	
}
.head p{
	width: 60vw;
	z-index:3;
	display: flex;
	position: relative;
	/*font-family: 'Panton Rust';*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 3vw;
	left: 50%;
	top:2vh;
	text-align: center;
	white-space: nowrap;
	/*
	line-height:20vh;
	text-align: center;
	top: 0;*/
}

	
.card1{
		
	margin:  10px 10px;	
	display: inline-block; 
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/1.jpg");
	/*background-repeat: no-repeat;*/
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;*/
	border-radius: 30px;
	/*transform: rotate(90deg);*/
	box-shadow: 10px 5px 5px black;
}
.card2 {
	margin:  10px 10px;	
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/1_1.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;
	*/
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 10px 5px 5px black;
	
}
.card3 {
	margin:  10px 10px;	
	display: inline-block;
	position: relative;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/4.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;*/
	border-radius: 30px;
	box-shadow: 10px 5px 5px black;
}	
.card4 {
	margin:  10px 10px;	
	display: flex;
	position: sticky;
	border: 1px solid #88E1F0;
	z-index:3;
	background: url("img/3.jpg");
	background-repeat: no-repeat;
	background-size:20vw 30vw;
	width: 20vw;
	height: 30vw;
	/*justify-content: center;
	*/
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 10px 5px 5px black;
}	
.card1-content p{
	justify-content: center;
	z-index :3;
	display: run-in;
	position: relative;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	left: 1vw;
	font-size: 1.4vw;
	top: 2vw;
	width: 17vw;
	height: 25vw;
	
	color: black;
	text-shadow:  1px 1px 2px #EBEDA9;
}
.card2-content{
	display: inline-block;
	position: relative;
	z-index:1;
	border: none;
	white-space: nowrap;
	overflow: hidden;
	width: 30vw;
	height: 40vw;
	border: none;
	
	/*display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	*/
}
.card2-content p {
	
	z-index:1;
	font-family: 'Rubik Black';
	/*font-family: 'Panton Rust';*/
	
	/*width: 98vw;*/
	
	left: 4vw;
	top: 2.5vh;
	width: 80vw;
	font-size: 3vh;
	position: absolute;
	text-align: left;
	color: black;
	text-shadow:  2px 3px 3px #EBEDA9;
	
}
.card2-content ul {
	
	z-index:1;
	font-family: 'Rubik Black';
	font-weight: bold;
	line-height: 1.5;
	
	left: 2vw;
	top: 8vh;
	width: 80vw;
	font-size: 2.3vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 3px #EBEDA9;
	
	
}
.card3-content p {
	display: run-in;
	margin:  0 1%;	
	display: inline-block; 
	position: relative;
	z-index :2;
	font-family: 'Rubik Black';
	left: 1vh;
	top: 2.5vh;
	width: 18vw;
	height: 25vw;
	font-size: 1.4vw;
	text-align: center;
	color: black;
	text-shadow:  1px 1px 23px #EBEDA9;
	
}
.card3-content ul {
	
	z-index:2;
	font-family: 'Rubik Black';
	font-weight: bold;
	line-height: 1.5;
	
	left: 2vw;
	top: 4vw;
	width: 80vw;
	font-size: 1.5vh;
	position: absolute;
	text-align: left;
	color: #black;
	text-shadow:  2px 3px 3px #EBEDA9;
	
	
}
.card4-content{
	display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	width: 30vw;
	height: 40vw;
	
	
	/*display: inline-block;
	position: relative;
	z-index:3;
	
	white-space: nowrap;
	overflow: hidden;
	*/
}


.card4 p {

	z-index:1;
	font-family: 'Rubik Black';
	/*width: 100vw;*/
	
	width: 19vw;
	height: 29vw;
	left: 0.1vw;
	top: 2.5vw;
	
	font-size: 1.4vw;
	
	text-align: center;
	color: black;
	text-shadow:  1px 1px 2px #EBEDA9;
	
}
.slide1{
	z-index:1;
	

	position: sticky;
	animation: slide1 60s linear infinite;
	
}


.slide1 img{
	margin:5% 5px;
	display:flex
	position: sticky;
	border-radius: 10px;
	width: 15vw;
	height: 20vw;
	z-index: 2;
	
	
	object-fit: cover;
	/*object-fit: contain;
	border: 1px solid #88E1F0;
	*/
}





.foot{
	display: inline-flex;
	position: absolute;
	width:43vw;
	background: none;
    height: 140px;
	white-space: nowrap;
	
	margin: 0px 0px 1vh 27vw;
	bottom:0px;
	z-index:3;
	overflow-y: hidden;
	overflow-x: hidden;
	/*
	border: 3px solid white;
	justify-content: center;
	background-image: url("img/head.jpg");
	align-items: center;
	left: 23vw;
	*/
	
}
.foot p {
	z-index:1;
	display: inline;
	position: absolute;
	/*font-family: 'Panton Rust';
	justify-content: center;
	text-align: center;
	left: 0vw;
	height: 10vh;
	width: 50vw;
	bottom: -3vh;	
	border: 3px solid blue;
	*/
	font-family: 'Rubik Black';
	color: black;
	text-shadow:  2px 3px 23px #F1ED2F;
	font-size: 3vw;
	margin: 7vh 10px 1vh 19%;
	white-space: nowrap;
	
	
}
.number{
	display: inline;
    position: absolute;
	width:100px;
	height: 100px;
	background: none;
    white-space: nowrap;
	justify-content: center;
	align-items: center;
	
	bottom:0px;
	z-index:3;
	margin: 0px 0px -10px 0vw;
	/*
	justify-content: center;
	background-image: url("img/head.jpg");
	align-items: center;
	left: 23vw;
	border: 3px solid brown;
	*/
	
}		
.number a{
	
	
	z-index: 2;
	display: flex;
	position: static;
	
	white-space: nowrap;
	text-decoration: none;
	/*border: 3px solid green;
	margin: 10px 0px 0px 3vw;
	*/
}
.number img{
	z-index: 1;
	display:inline;
	position: relative;
	max-width:100%;
	max-height: 100%;
	bottom: 0px;
	object-fit: contain;
	
	/*
	object-fit: cover;
	border: 1px solid #88E1F0;
	*/
    /*border: 3px solid red;
	position: relative;
	border: 3px solid grey;
	*/
	
}
.whatsapp{
	
	display: inline;
    position: absolute;
	width:100px;
	height: 100px;
	background: none;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	bottom:0px;
	z-index:2;
	margin: 0px 0px -5px 73%;
	/*
	border: 3px solid yellow;
	background-image: url("img/head.jpg");
	
	left: 23vw;
	*/
	
}	
.whatsapp a{
	width:100px;
	height: 100px;
	z-index: 2;
	display: flex;
	position: static;
	white-space: nowrap;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	/*border: 3px solid black;
	background-size: cover;
	justify-content: center;
	position: relative;
	left: 0vw;
	bottom: 0px;
	margin: 0px 0px 0px 1vw;
	max-width: 598px;
	max-height: 138px;
	border: 3px solid black;
	*/
	
}

.whatsapp img{
	
	z-index: 1;
	display: inline;
	position: relative;
	justify-content: center;
	align-items: center;
	/*
	border: 3px solid red;
	margin: 0px 0px 0px 85px;
	*/
}


@keyframes slide1 {
	from { 
	transform: translateX(20vw);
	}
	to{
		transform: translateX(-150vw);
		}
}


.drop1 {
	overflow: hidden;
	z-index: 1;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 7vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 3.3s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 19vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 3.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 30vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position:relative;
	animation-direction: normal;
	animation-duration: 3s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 49vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: flex;
	position: relative;
	animation-direction: normal;
	animation-duration: 2s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 71vw;
}
.dropbase{
	z-index:1;
	height: 100vh;
	display: inline;
	position: fixed;
	
}
.drop1 {
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.4s;
	animation-name: move1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 4vw;
}
.drop2 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 4.7s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 19vw;
}

.drop3 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 6.4s;
	animation-name: move3;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 40vw;
}
.drop4 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 7s;
	animation-name: move4;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 50vw;
}
.drop5 {
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	animation-direction: normal;
	animation-duration: 5s;
	animation-name: move5;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*border: 1px solid black;*/
	top: -10px;
	left: 71vw;
}
}


/*transform: rotate(90deg);*/
/*--------------------------------------------------------*/